<%- include('../partials/header.ejs') %>

<h2>Request Equipment</h2>

<div>
  <h3><%= equipment.equipmentName %></h3>
  <p>Status: <%= equipment.status %></p>

  <% if (equipment.status === 'available') { %>
    <form action="/requests/create/<%= equipment._id %>" method="POST">
      <button type="submit">Send Request</button>
    </form>
  <% } else { %>
    <p style="color:red;">Not available</p>
  <% } %>
</div>

<%- include('../partials/footer.ejs') %>
