<%- include('../partials/header.ejs') %>

<h2>Profile Page</h2>

<p>Welcome, <%= user.userName %></p>
<p>Email: <%= user.email %></p>
<p>Phone: <%= user.phoneNum %></p>
<p>Address: <%= user.address %></p>
<p>Role: <%= user.role %></p>

<%- include('../partials/footer.ejs') %>
